<h3><%= "Your order '#{@order_id}' has been dispatched" %></h3>

<p>The order contains the following products</p>
<table class="table">
  <thead>
  <th>Product</th>
  <th>Quantity</th>
  </thead>
    <% @list_of_products.each do |order_item| %>
      <%= render 'show_order_item', order_item: order_item %>
    <% end %>
</table>