<% provide(:title, 'Sign Up') %>
<div class = "container">
  <%= form_for(@user , :html => {class: "form col-xs-offset-3 col-xs-6"}) do |f| %>
    <%= render 'form_fields', f:f%>
    <%= f.submit "Sign Up" , class: "btn btn-primary" %>
  <% end %>
</div>